body {
    color: rgb(0, 68, 0);
    margin-left: 20%;
    margin-right: 20%;
}

h1, h2 {text-align: center}
h3 {font-weight: 120;}
.kepek {text-align: center;}

#tabth {font-weight: bold;}

body {background-image: url(img/erdo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;}