body {
    background-image: url(img/rain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

.maintext {
    display:inline-block;
    width: 1200px;
    height: 200px;
    background-color: rgb(194, 226, 245);
    opacity:0.8;
    border-style: outset;
    color: black;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
}

.h4 {color: black;}

img:hover {
    border-style:solid;
    border-width: 5px;
    border-color: rgb(5, 40, 13);
    padding: 2px;
}

#matradiv1 {
    display: inline-block;
    width: 300px;
    height: 200px;
    text-align: center;
    font-size: larger;
    position: relative;
    font-style: black;
    font-weight: bold;
}

a{color: black}



